<section class="comment">
  <p class="commentContent"><%= comment.content.html_safe %></p>

  <p class="commentEdit">
    <% if can? :update, comment %>
     <span class="edit-link">
        <%= link_to 'Edit', edit_polymorphic_path([@post, comment]) %>
    </span>
    <span class="edit-link">
         <%= link_to 'Delete', polymorphic_path([@post, comment]), confirm: 'Are you sure?', method: :delete %>
    </span>
    <% end %>
    &nbsp;<%= button_to("Report", {:controller => "flags", :post_type => @post.class, :post_id => @post.id, :comment_id => comment.id}, :confirm => "Are you sure?", :class => "reportLink") %>
  </p>


  <% blocked_user = User.deleted.where(username: comment.user_id) %>
  <% if blocked_user.any? %>
    <p class="commentPoster">Posted by: <%= comment.user_id %></p>
  <% else %>
    <p class="commentPoster">Posted by: <%= link_to comment.user.display_name, comment.user %></p>
  <% end %>
</section>
