<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# render :partial => '/comments/like_dislike', :locals => {:post => @post, :label => label} %>

  <div class="field">
    <%= f.label :content, 'Comment' %><br />
    <% if @type == "Kata" %>
            <!--%= f.text_area :content, :size => "80x12", :value => "#{GlobalConfig.comment_default}" %-->
            <%= f.cktext_area :content, :toolbar => 'CMUSV', :width => 600, :height => 200, :input_html => { :value => "#{GlobalConfig.comment_default}" } %>
		<% else %>
			<!--%= f.text_area :content, :size => "80x10" %-->
            <%= f.cktext_area :content, :toolbar => 'CMUSV', :width => 600, :height => 200 %>
		<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
