 <% if @docs %>
  <p id="result-count">Your search for "<%= params[:query] %>" returned <%= pluralize @docs['matches'], 'result' %></p>

  <ul id="results">
    <% @docs['results'].each do |doc| %>

<%
      (junk, type, id) = doc['docid'].split("/")
      @title = "Show"
      case type
        when 'posts'
          post = Post.find(id)
          @title = post.title
        else
          @title = "Show"
        end
%>

      <li>
        <%= link_to @title, doc['docid'] %><br/>
        <%= doc['snippet_text'].html_safe.gsub("&lt;","<").gsub("&gt;",">") %>

<!--
Title:  <%= simple_format doc['title'] %>
Text:   <%= simple_format doc['text'] %>
Url:  <%= simple_format doc['url'] %>
Snippet 1:        <%= doc['snippet_text'] %>
Snippet 2:        <%= doc['snippet_text'].html_safe %>

-->
      </li>
    <% end %>
  </ul>
<% end %>