
<div class="new-user-entity-div">
<%= form_for(@user ) do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br>

    <div>

      <section >
        <%= f.label :email, 'Email', :class=>"user_field_label" %>
        <%= f.text_field :email, :class=>"user_field_value"%>
      </section>

      <br>
      <section >
        <%= f.label :gravatar_email, 'Gravatar Email', :class=>"user_field_label" %>
        <%= f.text_field :gravatar_email, :class=>"user_field_value"%>
      </section>

      <br>
      <section>
        <%= f.label :digest_frequency, 'Craftsmanship Digest', :class=>"user_field_label" %>
        <%= f.select :digest_frequency, [" ", "Weekly"] , {},  :class=>"user_field_value_select"%>
      </section>
    </div>
    <br><br>
    <div class="actions">
      <%= f.submit "Update Profile"%>
    </div>
<% end %>

    </div>