<% content_for :title, @user.name + " - Information"%>
<h1><%= @user.name %></h1>
<p id="email">Email: <%= @user.email %></p>

<% if @user.plan %>
	<section id="maidenSpeech">
		<h3>Maiden Speech:</h3>
		<p><%= @user.plan.maidenSpeech.html_safe %></p>
	</section>
	<% if @user.plan.activities.any? %>
		<ul id="activities">
			<h3>Activities for my learning plan:</h3>
			<% @user.plan.activities.each do |a| %>
				<li class="activity"><%= a.name %></li>
			<% end %>
		</ul>
	<% end %>
	<section id="newActivity"><%= render 'activities/form' %></section>
	<%= link_to 'Edit Learning Plan', edit_user_plan_path(@user, @user.plan) %>
<% else %>
	<section id="newLearningPlan"><%= render 'plans/form' %></section>
<% end %>

<%= link_to 'Authentications', authentications_path %>