<% content_for :title, @user.display_name + " - Profile"%>
<p>
<label id="profile_name"> <%= @user.display_name %> </label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Edit', edit_user_path(@user), :title => "Edit Profile", :class => "user-edit-link" %>
</p>
<br><br>

<p class="profile_emails">Email: <%=  @user.email %></p>
<p class="profile_emails">Gravatar Email: <%= @user.gravatar_email %></p>

<% if @user.plan %>

	<section id="maiden_speech">
      <h3>Maiden Speech:</h3> <br>
		<p><%= @user.plan.maiden_speech.html_safe %></p>



    </section>
    <section class="page_nav_links">
    <%= link_to 'Edit Learning Plan', edit_user_plan_path(@user, @user.plan) %>
    </section>
    <br>

<% else %>
	<section id="newLearningPlan"><%= render 'plans/form' %></section>
<% end %>

<br>
<section id="authentications">
<h3>
  <%= link_to 'Authentications', authentications_path %></h3>
</section><br><br>