<% content_for :title, @user.display_name + " - Profile"%>
<p>
<label id="profile_name"> <%= @user.display_name %> </label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="page_nav_links"> <%= link_to 'Edit', edit_user_path(@user), :title => "Edit Profile", :class => "user-edit-link" %></span>
</p>
<br><br>

<span class="profile_emails">Email:  </span> <span class="profile_emails_values"><%=  @user.email %></span>  <br><br>
<span class="profile_emails">Gravatar Email:  </span> <span class="profile_emails_values"><%= @user.gravatar_email %></span>

<br><br><br><br>

<% if @user.plan %>

	<section id="maiden_speech">
        <span class="profile_emails">Maiden Speech:   </span><br><br>
	    <span class="profile_emails_values"><%= @user.plan.maiden_speech.html_safe %></span>
    </section>

    <br>
    <section class="page_nav_links">
    <%= link_to 'Edit Learning Plan', edit_user_plan_path(@user, @user.plan) %>
    </section>
    <br>

<% else %>
	<section id="newLearningPlan"><%= render 'plans/form' %></section>
<% end %>

<br>
<section id="authentications">
<h3>
  <%= link_to 'Authentications', authentications_path %></h3>
</section><br><br>