<div class="entity-div">
  <h2 class="entity-title"><%= kata.title.truncate(80) %></h2>

  <div class="entity-meta">
    <% if kata.updated_at > kata.created_at %>
        <span class="meta-prep meta-prep-author">Updated on</span>
        <span class="entry-date"><%= kata.updated_at.to_date.to_formatted_s(:long_ordinal) %></span>
    <% else %>
        <span class="meta-prep meta-prep-author">Posted on</span>
        <span class="entry-date"><%= kata.created_at.to_date.to_formatted_s(:long_ordinal) %></span>
    <% end %>
    <span class="meta-sep">by</span>
    <span class="author vcard"><a class="url fn n" href="<%= user_path(kata.user) %>" title="View all posts by <%= kata.user.name %>"><%= kata.user.display_name %></a> <b><%= kata.user.points %></b></span>
    <span>In <b>Category: </b><a href="<%= kata_path(kata) %>" rel="bookmark"><%= kata.category.name %></a></span>
    <br><br>
    <% unless kata.kata_user_categories.empty? %>
        <span>
            <b> Suggested Categories: </b>
            <% kata.kata_user_categories.each do |category| %>
                <a href="<%= kata_path(kata) %>" rel="bookmark"><%= Category.find(category).name %></a>&nbsp;&nbsp;
            <% end %>
        </span>
        <br><br>
    <% end %>
    <% unless kata.rating.nil? %>
        <div style="float: left"><b> Rating: &nbsp;&nbsp;</b></div>
    <span>
      <% rating = kata.rating.round %>
      <% [1, 2, 3, 4, 5].each do |val| %>
        <% if val == rating %>
        <%= radio_button_tag kata.id, val, true, {:disabled => "disabled", :class => "star"} %>
        <% else %>
        <%= radio_button_tag kata.id, val, false, {:disabled => "disabled", :class => "star"} %>
      <% end %>
      <% end %>
    </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    <span><b>Challenge Level: </b><%= kata.challenge_level %> </span>
  </div>
  <br><br>
  <% unless kata.source.blank? %>
      <div class="entity-source-url">
        <h4><b>Source: </b><%= link_to kata.source.truncate(130), "#{kata.source}", {:target => '_blank'} %></h4>
      </div>
  <% end %>
  <div class="entity-content">
    <%= kata.content.html_safe %>
  </div>
  <div class="entity-utility">
  <span class="comments-link"><a href="<%= kata_path(kata) %>" title="Comment on <%= kata.title %>"><%= kata.reviews.size %>
    Reviews</a></span>

    <% if can? :update, kata %>
  <span class="edit-link">
    <%= link_to 'Edit', edit_kata_path(kata), :title => "Edit Kata", :class => "kata-edit-link" %>
  </span>
  <span class="edit-link">
    <%= link_to 'Delete', kata, :confirm => 'Are you sure?', :method => :delete, :title => "Delete Kata", :class => "kata-edit-link" %>
  </span>
    <% end %>
  </div>
</div>