 <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-9048546c-df53-fafd-463b-e1d2104fc723"});</script>

<div class="post-meta">

  <h2 class="entry-title"><%= link_to h(post.title.truncate(35)), post.source_url, :target => '_blank', :class => 'story-link' %>
  </h2>


    <% if post.author %>
      <div class="article_author">by <%= post.author %></div>
    <% end %>
  <div id="vote_<%= post.id %>" class="post_short_vote">
    <%= render :partial => 'votes/vote_post', :locals => {:post => post} %>
  </div>


  <div class="entry-meta">
    <% if post.updated_at > post.created_at %>
        <span class="meta-prep meta-prep-author">Edited on</span>
        <span class="entry-date"><%= post.updated_at.to_date.strftime("%b %d, %Y") %></span>
    <% else %>
        <span class="meta-prep meta-prep-author">Posted on</span>
        <span class="entry-date"><%= post.created_at.to_date.strftime("%b %d, %Y") %></span>
    <% end %>
    <span class="meta-sep">by</span>
    <% blocked_user = User.deleted.where(username: post.user_id).first %>
    <% if blocked_user %>
      <span class="author vcard"><%= post.user_id %></span>
    <% else %>
      <span class="author vcard"><a class="url fn n" href="<%= user_path(post.user) %>" title="View all posts by <%= post.user.name %>"><%= post.user.display_name %></a></span>
      <b style="font-size: 1.25em; padding-left: 5px;"><%= post.user.points %></b></span>
  <% end %>
  </div>


  <div id="source_url_div">
  <% unless post.source_url.blank? %>

        Source: <%= link_to h(post.site_name), post.source_url, :target => '_blank', :class => 'story-link' %>


  <% end %>

</div>

  <% if post.tags.any? %>
    <div class="entry-tags">
      <% post.tags.each do |tag| %>
        <p class="tag"><%= link_to tag.name, tag %></p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="post-detail">

  <div class="entry-short-content">

    <%= raw strip_tags(post.content).truncate(400) %>

  </div>

  <div class="entry-utility">

    <% if can? :update, post %>
      <span class="edit-link">
        <%= link_to 'Edit', edit_article_path(post), :title => "Edit Post", :class => "post-edit-link" %>
      </span>
      <span class="edit-link">
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :title => "Delete Post", :class => "post-edit-link" %>
      </span>
    <% end %>
    <div class="entry-utility-social">

      <span class='st_facebook' st_url="<%= post.source_url %>"></span>
      <span class='st_twitter' st_url="<%= post.source_url %>"></span>
      <span class='st_linkedin' st_url="<%= post.source_url %>"></span>
      <span class='st_googleplus' st_url="<%= post.source_url %>"></span>
      <span class='st_email' st_url="<%= post.source_url %>"></span>
    </div>
  </div>


</div>