<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title, :size => "81" %>
  </div>

  <div class="field">
    <%= f.label :source %>
    <br/>
    <%= f.text_field :source, :size => "81" %>
  </div>

  <% if @type == 'Post' %>
    <div class="field">
      <%= f.label :tempTags, "Tags" %>
      <br/>
      <% if @post.tags.any? %>
        <%= f.text_field :tempTags, :size => "81", :value => @tags %>
      <% else %>
        <%= f.text_field :tempTags, :size => "81" %>
      <% end %>
    </div>
  <% end %>

  <% if @type == 'Kata' %>
    <div class='field'>
      <%= f.label :category %>
      <% if @post.category.blank? %>
        <%= f.collection_select :category, Category.all, :id, :name %>
      <% else %>
        <%= f.collection_select :category, Category.all, :id, :name, :selected => @post.category_id %>
      <% end %>
    </div>
    <div class='field'>
      <%= f.label :challenge_level %>
      <% if @post.challenge_level.blank? %>
        <%= f.select :challenge_level, [['Low', 'low'], ['Medium', 'medium'], ['High', 'high']] %>
      <% else %>
        <%= f.select :challenge_level, [['Low', 'low'], ['Medium', 'medium'], ['High', 'high']], :selected => @post.challenge_level %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <br/>
    <%= f.cktext_area :content, :toolbar => 'CMUSV', :width => 600, :height => 200 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
