<div class="new-entity-div">

<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <% if @type == 'Post' || @type == 'Article' %>

        <div>
          <%= f.label :title, :class=>"field_label" %>
          <%= f.text_field :title, :class=>"field_value"%>
        </div>
          <br>

        <div class="field">
          <%= f.label :source_url, "Source URL", :class=>"field_label" %>
          <%= f.text_field :source_url, :class=>"field_value"%>
        </div>
          <br>
        <div class="field">
          <%= f.label :tempTags, "Tags", :class=>"field_label" %>
          <% if @post.tags.any? %>
              <%= f.text_field :tempTags, :class=>"field_value", :value => @tags %>
          <% else %>
              <%= f.text_field :tempTags, :class=>"field_value" %>
          <% end %>
        </div>
          <br>
    <% end %>

    <% if @type == 'Kata' %>
        <div class="field">
          <%= f.label :title, :class=>"field_label" %>
          <%= f.text_field :title, :class=>"field_value" %>
        </div>
          <br>

        <div class="field">
          <%= f.label :source_url, "Source URL", :class=>"field_label" %>
          <%= f.text_field :source_url, :class=>"field_value" %>
        </div>
         <br>
        <div class='field'>
          <%= f.label :category_tokens, "Categories", :class=>"field_label"  %>
          <%= f.text_field :category_tokens, "data-pre" => @post.categories.map { |category| {:id => category._id, :name => category.name}}.to_json , :class=>"field_value"  %>
        </div>
          <br>
        <div class='field'>
          <%= f.label :challenge_level, :class=>"field_label" %>
          <% if @post.challenge_level.blank? %>
              <%= f.select :challenge_level, [['Low', 'Low'], ['Medium', 'Medium'], ['High', 'High']] , {},  :class=>"field_value_select" %>
          <% else %>
              <%= f.select :challenge_level, [['Low', 'Low'], ['Medium', 'Medium'], ['High', 'High']], :selected => @post.challenge_level, :class=>"field_value_select" %>
          <% end %>
        </div>
    <% end %>

    <div class="field">
      <br>

      <%= f.cktext_area :content, :toolbar => 'CMUSV', :class=>"field_label_textbox" %>
    </div>

    <div class="actions">
      <br><br>
      <%= f.submit %>
    </div>
<% end %>
</div>