<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => "81" %>
  </div>

  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating, :size => "81" %>
  </div>

  <div class="field">
      <%= f.label :source %><br />
      <%= f.text_field :source, :size => "81" %>
  </div>

  <div class="field">
    <%= f.label :tempTags, "Tags" %><br />
    <% if @post.tags.any? %>
			<%= f.text_field :tempTags, :size => "81", :value => @tags %>
		<% else %>
			<%= f.text_field :tempTags, :size => "81" %>
		<% end %>
  </div>



  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :toolbar => 'CMUSV', :width => 600, :height => 200 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
