<div class="post-meta">

  <h2 class="entry-title"><%= link_to post.title, post %></h2>
  <br>

  <div class="entry-meta">

    <span class="meta-prep meta-prep-author">Posted on</span>
    <a href="<%= post_path(post) %>" title="<%= post.created_at.to_date.to_formatted_s(:long_ordinal) %>" rel="bookmark"><span class="entry-date"><%= post.created_at.to_date.to_formatted_s(:long_ordinal) %></span></a>
    <span class="meta-sep">by</span>
    <span class="author vcard"><a class="url fn n" href="<%= user_path(post.user) %>" title="View all posts by <%= post.user.name %>"><%= post.user.display_name %></a></span>
  </div>
  <% unless post.source.blank? %>
    <br>

    <div>
      <h4>Source URL:  <%= auto_link_urls post.source %></h4>
    </div>

  <% end %>

    <br>
    <div class="entry-tags">
      <p class="tag"><%= link_to post.category.name, '#' %></p>
    </div>

</div>
<div class="post-detail">

  <div class="entry-short-content">

    <%= strip_tags(post.content).truncate(350) %>

  </div>
  <br>
  <div class="entry-utility">
      <span class="cat-links">
        <span class="entry-utility-prep entry-utility-prep-cat-links">
          Posted in <%= link_to post.category.name, '#' %>
        </span>
      </span>
    <span class="meta-sep">|</span>
      <span class="comments-link"><a href="<%= kata_path(post) %>" title="Comment on <%= post.title %>"><%= post.survived_reviews.size %>
        Comments</a></span>

      <span class="edit-link">
        <%= link_to 'Edit', edit_kata_path(post), :title => "Edit Kata", :class => "post-edit-link" %>
      </span>
      <span class="edit-link">
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :title => "Delete Kata", :class => "post-edit-link" %>
      </span>
  </div>

</div>