<div class="post-meta">

  <h2 class="entry-title"><%= link_to post.title, post %></h2>
  <br>

  <div class="entry-meta">
    <% if kata.updated_at > kata.created_at %>
        <span class="meta-prep meta-prep-author">Updated on</span>
        <span class="entry-date"><%= kata.updated_at.to_date.strftime("%b %d, %Y") %></span>
    <% else %>
        <span class="meta-prep meta-prep-author">Posted on</span>
        <span class="entry-date"><%= kata.created_at.to_date.strftime("%b %d, %Y") %></span>
    <% end %>
    <span class="meta-sep">by</span>
    <% blocked_user = User.deleted.where(username: post.user_id).first %>
    <% if blocked_user %>
      <span class="author vcard"><%= post.user_id %></span>
    <% else %>
      <span class="author vcard"><a class="url fn n" href="<%= user_path(post.user) %>" title="View all posts by <%= post.user.name %>"><%= post.user.display_name %></a></span>
    <% end %>
  </div>
  <% unless post.source_url.blank? %>
    <br>

    <div>
      Source URL: <%=link_to post.source_url.truncate(35),"#{post.source_url}", {:target => '_blank'}%>
    </div>

  <% end %>

    <br>
    <div class="entry-tags">
      <p class="tag"><%= link_to post.category.name, '#' %></p>
    </div>

</div>
<div class="post-detail">

  <div class="entry-short-content">

    <%= strip_tags(post.content).truncate(350) %>

  </div>
  <br>
  <div class="entry-utility">
      <span class="cat-links">
        <span class="entry-utility-prep entry-utility-prep-cat-links">
          Posted in <%= link_to post.category.name, '#' %>
        </span>
      </span>
    <span class="meta-sep">|</span>
      <span class="comments-link"><a href="<%= kata_path(post) %>" title="Comment on <%= post.title %>"><%= post.survived_reviews.size %>
        Comments</a></span>

      <span class="edit-link">
        <%= link_to 'Edit', edit_kata_path(post), :title => "Edit Kata", :class => "post-edit-link" %>
      </span>
      <span class="edit-link">
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :title => "Delete Kata", :class => "post-edit-link" %>
      </span>
  </div>

</div>