<div class="post-meta">

<h2 class="entry-title"><%= link_to post.title.truncate(42), post %></h2>
<div class="entry-meta">

  <span class="meta-prep meta-prep-author">Posted on</span>
  <a href="<%= post_path(post) %>" title="<%= post.created_at.to_date.to_formatted_s(:long_ordinal) %>" rel="bookmark"><span class="entry-date"><%= post.created_at.to_date.to_formatted_s(:long_ordinal) %></span></a>
  <span class="meta-sep">by</span>
  <span class="author vcard"><a class="url fn n" href="<%= user_path(post.user) %>" title="View all posts by <%= post.user.name %>"><%= post.user.display_name %></a></span>
</div>

<div id="source_url_div">
  <% unless post.source_url.blank? %>

      Source URL: <%=link_to post.source_url.truncate(35),"#{post.source_url}", {:target => '_blank'}%>


  <% end %>
 </div>

  <% if post.tags.any? %>
	<div class="entry-tags">
      <% post.tags.each do |tag| %>
          <p class="tag"><%= link_to tag.name, tag %></p>
      <% end %>
    </div>
<% end %>
</div>
<div class="post-detail">

    <div class="entry-short-content">

      <%= raw strip_tags(post.content).truncate(490) %>

    </div>
    <div class="entry-utility">


      <span class="comments-link">
        <a href="<%= post_path(post) %>" title="Comment on <%= post.title %>"><%= post.comments.size %>
        Comments</a>
      </span>

      <span class="edit-link">
        <%= link_to 'Edit', edit_post_path(post), :title => "Edit Post", :class => "post-edit-link" %>
      </span>
      <span class="edit-link">
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :title => "Delete Post", :class => "post-edit-link" %>
      </span>
    </div>

</div>