<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-9048546c-df53-fafd-463b-e1d2104fc723"});</script>

<script src="jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".promptmaindiv").load();
        $(".promptmaindiv").hide();
        $(".subscriptionerrormessage").hide();
    });
    function hidepromptdiv(){
          $(".promptmaindiv").fadeOut(300);

      }

    function showpromptdiv(){
        $(".promptmaindiv").show();

    }

    function validateemail(){
//        var email = document.getElementById('subscriptionemailtxt').value  ;
        var email = $("input.subscriptionemail").val();
        alert(email);

        var re = /\S+@\S+\.\S+/;
        if (!re.test(email)){
            $(".subscriptionerrormessage").show();
            $("input.subscriptionemail").css("border", "3px solid #d80000");
            $("input.subscriptionemail").val('');
            return false;
        }
        alert('true');
        return true;
    }

</script>

<div class="post-meta">

  <h2 class="entry-title"><%= link_to post.title.truncate(35), post %></h2>
<div class="entry-meta">

  <span class="meta-prep meta-prep-author">Posted on</span>
  <span class="entry-date"><%= post.created_at.to_date.strftime("%b %d, %Y") %></span>
  <span class="meta-sep">by</span>
  <span class="author vcard"><a class="url fn n" href="<%= user_path(post.user) %>" title="View all posts by <%= post.user.name %>"><%= post.user.display_name %></a>
    <b style="font-size: 1.25em; padding-left: 5px;"><%= post.user.points %></b></span>
</div>

<div id="source_url_div">
  <% unless post.source_url.blank? %>

      Source URL: <%=link_to post.source_url.truncate(35),"#{post.source_url}", {:target => '_blank'}%>
    

  <% end %>

</div>

  <% if post.tags.any? %>
	<div class="entry-tags">
      <% post.tags.each do |tag| %>
        <p class="tag"><%= link_to tag.name, tag %></p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="post-detail">

  <div class="entry-short-content">

    <%= raw strip_tags(post.content).truncate(400) %>

  </div>

	<div class="entry-utility">
      


    <% if can? :update, post %>
      <span class="edit-link">
        <%= link_to 'Edit', edit_post_path(post), :title => "Edit Post", :class => "post-edit-link" %>
      </span>
      <span class="edit-link">
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :title => "Delete Post", :class => "post-edit-link" %>
      </span>

    <% end %>

      <span class="comments-link">
	    <a href="<%= post_path(post) %>" title="Comment on <%= post.title %>"><%= post.survived_comments.size %> Comments</a>
      </span>


      <div class="entry-utility-social">

        <span class='st_facebook' st_url="<%= polymorphic_url(post) %>"></span>
        <span class='st_twitter' st_url="<%= polymorphic_url(post) %>"></span>
        <span class='st_linkedin' st_url="<%= polymorphic_url(post) %>"></span>
        <span class='st_googleplus' st_url="<%= polymorphic_url(post) %>"></span>
        <span class='st_email' st_url="<%= polymorphic_url(post) %>"></span>
      </div>

      <div class="promptmaindiv">
        <% if user_signed_in? %>
            <div class="promptinnerdiv">
              <%= form_for current_user, :remote => true do |f| %>
              <div class="prompttextdiv">
                <p class="prompttext">Subscribe to our weekly newsletter</p>
                <p style="{text-align: center;}">
                <label class="subscriptionerrormessage">Please enter a valid email id</label>  <br>
                <%= f.text_field :email, :class=>"subscriptionemail", :placeholder =>"Enter your email"%>
                  <%= f.hidden_field :gravatar_email %>
                  <%= f.hidden_field :points %>
                  <%= f.hidden_field :digest_frequency, :value => "Weekly" %>
                </p>
              </div>
              <div class="promptcontroldiv">
                <button class="negativebutton" type="reset" name="cancel" id="cancelbutton" onclick="hidepromptdiv();">Cancel</button>
                <!--%= f.submit "Subscribe", :class=>'positivebutton', :onclick=>"return validateemail();"%-->
                <%= f.submit "Subscribe", :class=>'positivebutton'%>
                <!--<button class="positivebutton" type="button" id="submitbutton" onclick="submitupdate();">Subscribe</button>-->

              </div>
              <% end %>

            </div>

       <% else %>
            <div class="promptinnerdiv">
              <div class="prompttextdiv">

                <div class="prompttextdivsignin">

                    <a href="/auth/github">
                    Sign in with GitHub
                    </a>

                </div>
                  </div>
                </div>

            </div>
        <% end %>
      </div>
  </div>


</div>