  <div class="entity-div">
    <h2 class="entity-title"><%= post.title.truncate(80) %></h2>
    <div class="entity-meta">
      <span class="meta-prep meta-prep-author">Posted on</span> <a href="<%= post_path(post) %>" title="<%= post.created_at.to_date.to_formatted_s(:long_ordinal) %>" rel="bookmark"><span class="entry-date"><%= post.created_at.to_date.to_formatted_s(:long_ordinal) %></span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="<%= user_path(post.user) %>" title="View all posts by <%= post.user.name %>"><%= post.user.display_name %></a></span>
    </div>
    <% unless post.source_url.blank? %>
        <div class="entity-source-url">
          <h4>Source URL: <%=link_to post.source_url.truncate(130),"#{post.source_url}", {:target => '_blank'}%></h4>
        </div>
    <% end %>



    <% if post.tags.any? %>
        <div class="entity-tags">
          <% post.tags.each do |tag| %>
              <p class="tag"><%= link_to tag.name, tag %></p>
          <% end %>
        </div>
    <% end %>
    <div class="entity-content">
      <p>
      <%= raw strip_tags(post.content) %>
      </p>
    </div>
    <div class="entity-utility">
<% if can? :update, post %>
      <span class="edit-link">
        <%= link_to 'Edit', edit_post_path(post), :title => "Edit Post", :class => "post-edit-link" %>
      </span>
      <span class="edit-link">
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete, :title => "Delete Post", :class => "post-edit-link" %>
      </span>
<% end %>
    </div>


  </div>
