<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
    <%= render :partial => 'posts/post_short', :locals => {:post => post} %>
    <br/>
<% end %>

<%= link_to 'New Post', new_post_path %>

<br /><br /><br />

<STYLE type="text/css">
        /**
        * Stories Tables
        */
    .stories-table {
        width: 100%;
        border: solid #ccc;
        border-width: 1px 0;
        margin: 0;
    }
    .stories-table th,
    .stories-table td {
        padding: 9px;
        border-bottom: 1px solid #ebebeb;
        font-size: 12px;
    }
    .stories-table th {
        background: #f4f4f4;
        color: #999;
        text-align: left;
        font-weight: normal;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
    }
    .stories-table td.headline {
        width: 485px;
    }
    .stories-table td.headline a.story-link {
        color: #333;
        font-weight: bold;
        font-size: 12px;
    }
    .stories-table td.headline a.story-link:hover {
        color: #0093cc !important;
        text-decoration: none;
    }
    .stories-table td.headline a.story-hattip,
    .stories-table td.headline a.story-domain,
    .stories-table td.story-domain {
        color: #555;
        font-size: 11px;
        white-space: nowrap;
    }
    .stories-table tr:hover td {
        background: #fbfbfb;
    }

    td.sharers {
        width: 35px;
    }

    td.headline {
        padding-left: 17px;

    }
    td.story-actions-cell {
        white-space: nowrap;
        width: 300px;
    }
    .ie7 td.story-scores-cell {
        width: 50px;
    }
    .ie7 td.story-actions-cell {
        width: 200px;
    }
    td.story-actions-cell .story-actions {
        margin: 0;
    }
    .stories-realtime-error {
        text-align: center;
        font-weight: bold;
        color: #c00;
    }
    .stories-realtime-loading {
        padding: 2em;
    }
    .stories-realtime-loading .ico-spinner {
        margin: 0 auto;
    }

    .story-sharers {
        margin-top: 4px;
    }
    .share-link {
        position: relative;
        float: left;
        margin-right: 2px;
    }
    .share-link:hover {
        text-decoration: none;
    }
        /*.share-link:hover .share-details {
         display: box;
        }*/
    .share-details {
        display: none;
        color: #444;
        font-size: 13px;
    }
    .share-link .share-details {
        width: 200px;

        position: absolute;
        padding: 10px;
        margin: -3px 0 0 35px;
        border:1px solid #ccc;
        color:#333;
        background:#fff;
        /* css3 */
        -webkit-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);

        z-index: 999;
    }
    .share-link .share-details:before {
        content:"";
        position:absolute;
        top: 10px;
        bottom: auto; /* value = - border-top-width - border-bottom-width */
        right: auto; /* controls horizontal position */
        left: -12px;
        border-width: 6px 12px 6px 0;
        border-style:solid outset;
        border-color: transparent #ccc;
        /* reduce the damage in FF3.0 */
        display:block;
        width:0;
    }

    a,
    a:visited,
    a:active {
        color: #191919;
        text-decoration: none;
    }
</STYLE>

<div id="new-stories" class="stories-container">
  <hgroup>
    <h2 class="stories-section-header">Software Craftsmanship Articles</h2>
  </hgroup>
  <table class="stories-table">
    <% for entry in FeedEntry.desc(:published_at).limit(30) %>
        <tr class="story-row">
          <td style="width: 250px;" class="headline"><%= link_to h(entry.name), entry.url, :target => '_blank', :class => 'story-link'%>
            <% if entry.author %>
             <br/> by <%= entry.author %>
            <% end %>
          </td>
          <td style="width: 150px;"><%= entry.blog_name %></td>
          <td style="width: 150px;"><%= entry.published_at.to_date.to_formatted_s(:long_ordinal)  %></td>
        </tr>
    <% end %>
  </table>
</div>

