<%= link_to "New #{@type}", new_polymorphic_path(@type.constantize) %>

<script type="text/javascript">

    $(document).ready(function () {
        $('.main-post-div').css('opacity', 0).each(function (i) {
            var height = $('#main-all-posts-div').height();

            $('#main-all-posts-div').animate({ height:height + 215}, 500);
            $('#main-all-posts-div').height("+=220");
            $(this).css('display', 'block');
            $(this).animate({ opacity:0 }, i * 500);
            $(this).animate({ opacity:1}, 1000);
        });
        $('.main-category-div').css('opacity', 0).each(function (i) {
          var height = $('#main-all-posts-div').height();

          $('#main-all-posts-div').animate({ height:height + 75}, 500);
          $('#main-all-posts-div').height("+=70");
          $(this).css('display', 'block');
          $(this).animate({ opacity:0 }, i * 500);
          $(this).animate({ opacity:1}, 1000);
        });
    });
</script>

<div id="main-all-posts-div">
  <% @posts.desc(:created_at).limit(15).each do |post| %>
      <% if !post.is_a?(Kata) %>
          <div class="main-post-div" style="display: none;">
            <%= render partial: "posts/#{post.class.name.downcase}_short", locals: {post: post} %>
          </div>
      <% end %>
  <% end %>

  <% if @posts.first.is_a?(Kata) %>
      <table width='100%'>
        <% @cat_count = @categories.count %>
        <% @row_count = (@categories.count / 3.0).ceil %>
        <% @row_num = 0 %>
        <% while @row_num < @row_count %>
            <tr>
              <% (1..3).each do |s| %>
                  <td width="33%">
                    <div class="main-category-div" style="display: none; margin: 5px;padding: 10px;">
                      <% if ((@row_num * 3) + s - 1) < @cat_count %>
                          <h2 class="entry-title" style="margin-bottom: 5px;"><%= @categories.at((@row_num * 3) + s - 1).name.capitalize %></h2>
                          <table width='100%'>
                            <% @categories.at((@row_num * 3) + s - 1).katas.desc(:rating).each do |kata| %>
                                <tr>
                                  <td width='70%' style="font-size: 14px;">
                                    <%= link_to kata.title, kata, {:style => 'color:#3399CC; text-decoration: none'} %>
                                  </td>
                                  <td width='30%'>
                                    <% if kata.rating > 0 %>
                                        <% for x in 1..kata.rating.ceil %>
                                            <img src="/images/star_unit.gif" style="height: 14px; width: 14px">
                                        <% end %>
                                    <% end %>
                                  </td>
                                </tr>
                            <% end %>
                          </table>
                      <% else %>
                          &nbsp;
                      <% end %>
                    </div>
                  </td>
              <% end %>
            </tr>
            <% @row_num += 1 %>
        <% end %>
      </table>
  <% end %>
</div>

<div id="second_new_post_link">

  <% if @posts.length > 0 %>                    <br><br>
      <%= link_to "New #{@type}", new_polymorphic_path(@type.constantize) %>
  <% end %>

  <br/><br/>

</div>