<%= render :partial => 'posts/post', :locals => {:post => @post} %>

<section id="comments">
	<% if @post.comments.any? %>
		<h2 id="commentsCount"><%= @post.comments.size %> Comments</h2>
		<% for comment in @post.comments %>
			<section class="comment">
				<p class="commentContent"><%= comment.content.html_safe %></p>
				<p class="commentEdit"><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></p> <p class="commentPoster">Posted by: <%= link_to comment.user.display_name, comment.user %></p>
			</section>
		<% end %>
	<% end %>

  <% if @post.listLikes.any? %>
      <p id="postLikesCount"><%= @post.listLikes.count %> Likes</p>
  <% end %>

  <% if @post.listDislikes.any? %>
      <p id="postLikesCount"><%= @post.listDislikes.count %> Dislikes</p>
  <% end %>

  <br/>
	<% if current_user %>
		<h3>New Comment</h3>
		<%= render 'comments/form' %>
	<% else %>
		<h3>Please <%= link_to "sign in", '/auth/github' %> to comment.</h3>
	<% end %>
</section>