<div class="newType" xmlns="http://www.w3.org/1999/html">
  <%= link_to "New #{@type}", new_polymorphic_path(@type.constantize) %>
</div>


<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:"ur-d9349282-e2c2-5e10-173-d95cc709542e"});</script>

<div id="main-entities-div">
  <%= render @post %>

  <!-- comments bar-->
  <div class="entity-div">
    <% if @comments.any? %>
      <a name="<%= @comment.class.name.downcase %>">
        <h2 id="commentsCount">
          <%= pluralize(@comments.count, @comment.class.to_s) %>
        </h2>
      </a>
      <%= render @comments %>
    <% end %>

    <% if current_user %>
      <h3>New <%= @comment.class.to_s %></h3>
      <%= render 'comments/form' %>
    <% elsif @type != 'Kata' %>
      <h3>Please <%= link_to "sign in", '/auth/github' %> to comment.</h3>
    <% else %>
      <h3>Please <%= link_to "sign in", '/auth/github' %> to review.</h3>
    <% end %>
  </div>
</div>