<section class="comment" xmlns="http://www.w3.org/1999/html">

  <% if review.content.blank? %>
    <div style="visibility:hidden" id="vote_<%= review.id %>" class="vote">
  <% else %>
    <div id="vote_<%= review.id %>" class="vote">
  <% end %>
  <%= render :partial => 'votes/vote', :locals => {:voteable => review} %>
  </div>

  <div class="review">
    <% unless review.title.blank? %>
      <h2 class="entry-title"><%= review.title.html_safe %></h2>
    <% end %>

    <div>
      <div style="float: left"><b> Rating: &nbsp;&nbsp;</b></div>
    <span>
      <% [1, 2, 3, 4, 5].each do |val| %>
        <% if val == review.rating %>
        <%= radio_button_tag review.id, val, true, {:disabled => "disabled", :class => "star"} %>
        <% else %>
        <%= radio_button_tag review.id, val, false, {:disabled => "disabled", :class => "star "} %>
      <% end %>
      <% end %>
    </span>
    </div>
    <br/>

    <% unless review.challenge_level.blank? %>
      <div>
        <span><b>Challenge Level: </b><%= review.challenge_level %></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    <% if !review.language.blank? %>
      <span><b>Programming Language: </b><%= review.language %></span>
      </div>

    <% end %>

    <% unless review.categories.empty? %>
      <div>
        <b>Suggested Categories: </b>
        <% review.categories.all.collect do |x| %>
          <a href="<%= kata_path(@commentable) %>" rel="bookmark"><%= x.name %></a> &nbsp;&nbsp;&nbsp;
        <% end %>
        <br/>
      </div>
    <% end %>
    <br/>

    <% unless review.content.blank? %>
      <div>
        <%= review.content.html_safe %>
      </div>
    <% end %>

    <p class="commentEdit">
      <% if can? :update, review %>
      <span class="edit-link">
      <%= link_to 'Edit', edit_polymorphic_path([@commentable, review]) %>
      </span>
    <span class="edit-link">
         <%= link_to 'Delete', polymorphic_path([@commentable, review]), confirm: 'Are you sure?', method: :delete %>
    </span>
      <% end %>
    </p>

    <p class="commentPoster">
      <% if review.updated_at > review.created_at %>
        Updated on <%= review.updated_at.to_date.to_formatted_s(:long_ordinal) %>
      <% else %>
        Posted on <%= review.created_at.to_date.to_formatted_s(:long_ordinal) %>
      <% end %>
      by <%= link_to review.user.display_name, review.user %><b><%= review.user.points %></b>
    </p>
  </div>
</section>
