<section class="comment" xmlns="http://www.w3.org/1999/html">

  <div id="vote_<%= review.id %>" class="vote">
    <% unless review.content.blank? %>
      <%= render :partial => 'votes/vote', :locals => {:voteable => review} %>
    <% end %>
  </div>

  <div class="review">
    <% unless review.title.blank? %>
      <h2 class="entry-title"><%= review.title.html_safe %></h2>
    <% end %>

    <div class="review-attribute">
      <div class="review-fixed-line">
        <span class="attribute review-rating">
          <span class="rating_text"><b> Rating: &nbsp;&nbsp;</b></span>
          <span>
            <% [1, 2, 3, 4, 5].each do |val| %>
              <% if val == review.rating %>
              <%= radio_button_tag review.id, val, true, {:disabled => "disabled", :class => "star"} %>
              <% else %>
              <%= radio_button_tag review.id, val, false, {:disabled => "disabled", :class => "star "} %>
            <% end %>
            <% end %>
          </span>
        </span>

        <% unless review.challenge_level.blank? %>
          <span class="attribute review-challenge-level"><b>Challenge Level: </b><%= review.challenge_level %></span>
        <% end %>
        <% if !review.language.blank? %>
          <span class="attribute review-language"><b>Programming Language: </b><%= review.language %></span>
        <% end %>
      </div>

      <% unless review.categories.empty? %>
        <div>
          <b>Suggested Categories: </b>
          <% review.categories.all.collect do |x| %>
            <a href="<%= category_path(x) %>" rel="bookmark"><%= x.name %></a> &nbsp;&nbsp;&nbsp;
          <% end %>
          <br/>
        </div>
      <% end %>
    </div>

    <% unless review.content.blank? %>
      <div class="content">
        <p><%= review.content.html_safe %></p>
      </div>
    <% end %>
    <br/>

    <div class="review-utility">
      <p class="commentEdit">
        <% if can? :update, review %>
        <span class="edit-link">
        <%= link_to 'Edit', edit_polymorphic_path([@commentable, review]) %>
        </span>
      <span class="edit-link">
           <%= link_to 'Delete', polymorphic_path([@commentable, review]), confirm: 'Are you sure?', method: :delete %>
      </span>
        <% end %>
        &nbsp;<%= button_to("Report", {:controller => "flags", :post_type => @commentable.class, :post_id => @commentable.id, :review_id => review.id}, :confirm => "Are you sure?", :class => "reportLink") %>
      </p>

      <p class="commentPoster">
        <% if review.updated_at > review.created_at %>
          Updated on <%= review.updated_at.strftime("%b %d, %Y") %>
        <% else %>
          Posted on <%= review.created_at.strftime("%b %d, %Y") %>
        <% end %>
        by
        <% if user_blocked(review.user_id) %>
          <%= review.user_id %>
        <% else %>
          <%= link_to review.user.display_name, review.user %><b><%= review.user.points %></b>
        <% end %>
      </p>

    </div>

  </div>
</section>
