<section class="comment" xmlns="http://www.w3.org/1999/html">
  <h2 class="entry-title"><%= review.title.html_safe %></h2>
  <span><b>Rating: </b><%= review.rating %></span>
  <div>
    <span><b>Challenge Level: </b><%= review.challenge_level %></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span><b>Programming Language: </b><%= review.language %></span>
  </div>
  <div>
    <b>Suggested Categories: </b>
    <% review.categories.all.collect do |x| %>
      <a href="<%= kata_path(@commentable) %>" rel="bookmark"><%= x.name %></a> &nbsp;&nbsp;&nbsp;
    <% end %>
    <br/><br/>
  </div>
  <div>
    <%= review.content.html_safe %>
  </div>
  <p class="commentEdit"><%= link_to 'Edit', edit_polymorphic_path([@commentable, review]) %></p>
  <p class="commentPoster">Posted by: <%= link_to review.user.display_name, review.user %></p>
</section>
