<%= form_for [@user, @plan] do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>

   <section class="maiden_speech_fields">
    <%= f.label :maiden_speech, 'Maiden Speech' %></section><br>
    <section class="maiden_speech_fields">
    <%= f.text_area :maiden_speech, :size => "80x8" %>
    </section>
  </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
