<%= form_for [@user, @plan] do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maidenSpeech, 'Maiden Speech' %><br />
    <%= f.text_area :maidenSpeech, :size => "80x8" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
