  <% if current_user && current_user.voted_for?(voteable) %>
    <%= link_to image_tag("upvoted.png"), [:upvote, @commentable, voteable], :class => "upvoted", :method => :post, :remote => true %>
  <% else %>
    <%= link_to image_tag("upvote.png"), [:upvote, @commentable, voteable], :class => "upvote", :method => :post, :remote => true %>
  <% end %>
  <span><%= voteable.vote_score %></span>

  <% if current_user && current_user.voted_against?(voteable) %>
    <%= link_to image_tag("downvoted.png"), [:downvote, @commentable, voteable], :class => "downvoted", :method => :post, :remote => true %>
  <% else %>
    <%= link_to image_tag("downvote.png"), [:downvote, @commentable, voteable], :class => "downvote", :method => :post, :remote => true %>
  <% end %>