<!DOCTYPE html>
<html>
<head>
  <title><%= (title = yield :title) ? title : GlobalConfig.site_title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag :ckeditor %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= ENV['GOOGLE_ANALYTICS'] %>']);
      _gaq.push(['_trackPageview']);
      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body class="home blog">
<div id="access" >
  <div class="menu">

    <ul>
      <li ><%= link_to "Articles", root_url, :title => "Articles" %>
        <ul>
          <li ><%= link_to "Popular", '/popular', :title => "Popular" %> </li>
        </ul>
      </li>
      <li ><%= link_to "#{GlobalConfig.activity_name.pluralize}", "/#{GlobalConfig.activity_type.pluralize}", :title => "#{GlobalConfig.activity_name.pluralize}" %>
        <ul>
          <li><%= link_to "Get Started", '/get_started', :title => "Get Started" %></li>
        </ul>
      </li>


      <li id="search-menu">
        <form action="<%= search_index_path %>" id="searchform" method="get" role="search">
            <input id="search-box" type="text" id="query" name="query" value="" placeholder="Search">
            <input id="search-box-button" type="submit" value="Search" style="visibility:hidden">
        </form>

      </li>



        <% if current_user %>
          <li id="subscribe-menu-signedin"><a href="#" title="Subscribe" onclick="javascript:showpromptdiv()"> Subscribe</a></li>
          <li id="signed-in-user">
            <%= link_to current_user.display_name, current_user %>
            <ul>
              <li id="logout_link"><%= link_to "Logout", :logout %> </li>
            </ul>
          </li>
        <% else %>
          <li id="subscribe-menu"><a href="#" title="Subscribe" onclick="javascript:showpromptdiv()"> Subscribe</a></li>
          <li id="signed-in-with-github">
            <img src="/images/github.png" alt="Github" id="github-image">
            <%= link_to "Sign in with Github", '/auth/github' %>
          </li>

        <% end %>


    </ul>


  </div>

</div>

<div id="wrapper" class="hfeed">
  <div id="header">
    <div id="masthead">
      <div id="branding" role="banner">
        <h1 id="site-title">
          <span><%= link_to GlobalConfig.site_title, root_url, :title => GlobalConfig.site_title, :rel => "home" %></span>
        </h1>

        <div id="site-description"><%= GlobalConfig.site_tag %></div>
        <%= image_tag("shore_198.jpg", :size => "1080x198") %>

      </div>
      <!-- #branding -->


      <!-- #access -->
    </div>
    <!-- #masthead -->
  </div>
  <!-- #header -->
  <div id="main">
    <section id="container">
      <section id="content" role="main">
        <h1><%=  yield :page_header %></h1>
        <div id="nav-above" class="navigation">

          <div class="nav-previous">
            <a href="<%= "#{root_url}" %>"><span class="meta-nav">&larr;</span>Older posts</a>
          </div>
          <div class="nav-next">
            <a href="<%= "#{root_url}" %>">Newer posts<span class="meta-nav">&rarr;</span></a>
          </div>
        </div>
        <!-- #nav-above -->
        <div id="notifications">
          <section>
            <% flash.each do |key, value| %>
                <div class="flash <%= key %>"><%= value %></div>
            <% end %>
          </section>

        </div>


      </section>
    </section>


  </div>
  <!-- #main -->
  <%= yield %>

  <%= render partial: "posts/subscription"%>

  <div id="footer" role="contentinfo">
    <div id="colophon">
      <div id="site-info">
        <a href="http://www.cmu.edu/silicon-valley/academics/silicon-valley/ft-ms/ft-se.html" title="Craftsmanship" rel="home">Carnegie
          Mellon University - Silicon Valley</a>

      </div>
      <!-- #site-info -->

      <div id="rss-icon">
        <%= link_to image_tag('rss-news.png'), root_url + "posts.rss" , :target => "_blank" %>
      </div>

      <div id="site-generator">
        <a href="https://github.com/hahuang65/Hibiscus" title="Hibiscus" rel="generator">Powered by Hibiscus.</a>
      </div>
      <!-- #site-generator -->

    </div>
    <!-- #colophon -->
  </div>
  <!-- #footer -->
</div>
</body>
</html>
